/** @format */
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
  background: #001685;
  height: 100vh;
  background-image: linear-gradient(to bottom, #2b378d, #054b9b, #10c22d);
  color: white;
}
